.switch {
    position: relative;
    display: inline-block;
    width: 117px;
    height: 19px;
}

.switch_input {
    display:none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #E8E8E8;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "lock";
    color: white;
    font-size: 12px;
    text-align: center;
    height: 19px;
    width: 60px;
    left: 0;
    bottom: 0;
    background-color: #ff4545;
    -webkit-transition: .4s;
    transition: .4s;
}

.switch_input:checked + .slider {
    background-color: #E8E8E8;
}

.switch_input:focus + .slider {
    box-shadow: 0 0 1px #E8E8E8;
}

.switch_input:checked + .slider:before {
    -webkit-transform: translateX(58px);
    -ms-transform: translateX(58px);
    transform: translateX(58px);
}

.switch_input:checked + .slider:before{
    background-color: #44CC5A;
    content: "unlock";
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 30px;
}